body{
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

#spriteContainer{
    height: 100px;
    width: 100px; 
    border: 1px solid #000;
    background-image: url('1.jpg'); 
    background-repeat: no-repeat;
    
}
input{
    margin: 10px 0;
    padding: 5px;
}
button{
    padding: 5px 10px;
    margin-left: 5px;
}